* {
    margin: 0;
    padding: 0  ;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;    
    flex-wrap: nowrap;
}

#history {
    width: 100%;
    margin-right: 5% !important;
}

.calculator-section {
    width: 40% !important;
    margin: 5% auto;
    background-color: black;
    padding: 1%;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

button {
    margin: 2% 1% !important;
    width: 20%;
    border-radius: 5px !important;
    border: none;
    font-size: 120%;
    font-weight: bold;
    padding: 2% 0;
}

button:hover {
    background-color: rgb(66, 66, 66);
    color: white;
    cursor: pointer;
}

button:active {
    background-color: rgb(109, 109, 109);
    color: white;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px 10px;
    font-size: 200%;
    font-weight: bold;
    text-align: end;
}

.equal {
    width: 46%;
}

.operator-btn {
    background-color: rgb(218, 147, 15);
}

.operator-btn:hover {
    background-color: rgb(245, 170, 32);
}

.operator-btn:active {
    background-color: rgb(255, 194, 82);
}

li {
    list-style: none;
}

@media screen and (max-width: 996px) {
    body {
        display: block;
    }
    .container-fluid {
        width: 70% !important;
    }

    #history {
        width: 90% !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 700px) {
    .container-fluid {
        width: 90% !important;
    }
}